* {
    box-sizing: border-box;
   
}
body {
    font-family: "Noto Sans", sans-serif;
    background: #ffffff;
    font-size: 14px;
    line-height: 19px;
    color: #303030; 
    margin: 0;
    padding: 0;

}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
h1 {
font-weight: 700;
font-size: 64px;
line-height: 87px;
color: #ffffff;
}
h2 {
line-height: 57px;
font-size: 42px;
color: #fff;
}
button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
.section {
    margin-top: 150px;
}
.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #868585;
}
.title_white {
    color: #fff;
}
.wrapper {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0px auto;
}
.logo {
   height: 51px;
}
.btn {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;  
    line-height: 25px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 32px;
    border-radius: 50px;
    transition: all .3s;
}
.btn:hover  {
    background-color: #ffffff;
    transition: all 0.3s;
    color: #303030;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 70px;
    text-align: center;
}
.promo {
    width: 100%;
    height: 100vh;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}
.promo__caption {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.promo__subtitle {
    margin-bottom: 50px;
}
.promo__social {
    position: absolute;
    width: 100%;
    bottom: 32px;
    left: 0px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.promo__social-link {
    display: block;
    transition: transform .3s;
}
.promo__social-link:hover {
    transition: transform .3s;
    transform: scale(1.1);
}
.services_row {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services_coll {
    width: 46%;
}
.services_img {
    width: 100%;
    height: 100%;
}
.services_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services_caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303030;
    margin-bottom: 15px;
}

.services_item + .services_item {
    margin-top: 50px;
}


.info {
    background-image: url(../img/bg-info.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 128px;
    padding-bottom: 144px;
}
.info_title {
    text-align: center;
    font-weight: 400;
}
.steps_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.steps_coll {
    width: 46%;
}
.steps_title {
    max-width: 250px;
    margin-bottom: 27px;
}
.steps_items + .steps_items {
margin-top: 30px;
}
.steps_number {
    color: #868585;
    margin-bottom: 11px;
}
.steps_caption {
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #303030;
margin-bottom: 2px;
}
.steps_img {
    width: 100%;
    height: 100%;
}
.steps_img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
    .container {
        background-image: url(../img/bg-footer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 65px;
        padding-bottom: 65px;
        color: #ffffff;
    }
    .container_body {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .container_coll {
        width: 46%;
    }